
@font-face {
    font-family: 'herofont';
    src:
        url('./fonts/emotionengine-8yna-webfont.woff') format('woff'),
        url('./fonts/emotionengine-8yna-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'frutiger';
    src:
        url('./fonts/frutiger_light-webfont.woff') format('woff'),
        url('./fonts/frutiger_light-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}


* {
    font-family: 'herofont';
    font-weight: 700;
    color: white;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 32.67%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/pexels-ron-lach-7856020.jpg);
}

.credit {
    position: absolute;
    color: rgba(255, 255, 255, 0.482);
    font-family: 'Courier New', Courier, monospace;
    bottom: 1rem;
    font-family: 'frutiger';
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    align-items: center;
    background: rgb(8, 8, 8);
}

.hero > span {
    color: rgb(255, 255, 255);
    font-family: 'herofont';
    font-size: 5rem;
    text-wrap: nowrap;
}

.hero {
    flex-grow: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.body {
    display: flex;
    flex-direction: column;
    width: 60%;
}

/* body */

.sign-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.sign-up > span {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-family: 'herofont';
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
}

input {
    border-width: 4px;
    border-color: rgb(44, 112, 223);
    border-radius: 5rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: black;
    font-family: 'frutiger';
}

input:empty {
    border-color: rgb(44, 112, 223);
}

input:valid {
    border-color: rgb(17, 147, 21);
    outline: none;
}


input:focus-visible:invalid {
    border-color: red;
    outline: none;
}



/* submit */

.submit {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 36%;
}

button {
    width: fit-content;
    height: 3rem;
    padding: 1rem;
    font-size: 2.2rem;
    background-color: rgb(28, 82, 168);
    border: none;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.submit > span {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
    color: rgb(28, 82, 168);
    text-decoration: none;
}